.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox {
  background-color: white;
  width: 80%;
  margin: 1vw;
  padding: 0.5vw;
  border-radius: 50px;
  color: #111;
  text-align: center;
  font-size: 2vw;
}

.answerBox {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2vw;
  place-content: center;
  padding: 0 2vw;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;
}

.img {
  width: 100%;
  height: 30vh;
  border-radius: 50px;
}

.optionsBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2vw 5vw;
}

.option {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  color: #111;
  font-size: 1.5vw;
  text-align: left;
  cursor: pointer;
  margin-bottom: 1vw; 
  font-weight: normal;
}

.option:hover {
  background-color: #ffffff;
  border: 2px solid #4b6bfb;
}

.option:focus {
  background-color:rgb(75, 107, 251);
}

.active {
  background-color:rgb(75, 107, 251);
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  padding: 2vw 0;
}

.btn {
  width: fit-content;
  border: none;
  border-radius: 10px;
  background-color: #dddddd;
  color: #111;
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: normal;
}

.quesNum {
  padding: 1vw 2vw;
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  .answerBox {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 4vw;
  }
  
  .box {
    width: 100%;
  }

  .optionsBox {
    padding: 2vw 2vw;
  }

  .option {
    font-size: 1rem;
    margin-bottom: 2vw;
  }

  .questionBox {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    font-size: 1rem;
  }
  .quesNum {
    font-size: 1.2rem;
  }
}