.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: white;
  margin: 2vw auto;
  padding: 2vw;
  color: black;
  border-radius: 10px;
}

.clear {
  clear: both;
}

.heading {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.text {
  font-size: 1.5vw;
  font-weight: lighter;
  margin-bottom: 1vw;
}

.box {
  position: relative;
  cursor: pointer;
}

.star {
  position: absolute;
  top: -14px; /* Adjust the top position as needed */
  right: -9px; /* Adjust the right position as needed */
  color: orange;
}



.box {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.answered {
  background-color: #555; /* Gray for answered */
}

.legend {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1vw 0;
  gap: 2vw
}

@media (max-width: 768px) {
  .heading {
    font-size: 4vw;
  }

  .text {
    font-size: 3vw;
  }

  .legend {
    grid-template-columns: 1fr 1fr;
    font-size: 3vw;
  }
}